<li id="picture_<%= pic.id %>">
  <%= image_tag pic.source, :width => 200 %>
  <p>
    <%= link_to pic.caption, picture_url(pic.id) %>
    <%= link_to "Edit", edit_picture_url(pic.id), remote: true %>
    <%= link_to "Delete", picture_url(pic.id),
                          :method => :delete,
                          remote: true %>
  </p>
</li>
