<h1>List of Pictures</h1>

<%= link_to "Add a New Picture", new_picture_url %>

<ul>
  <% @pictures.each do |pic| %>
    <li>
      <%= image_tag pic.source, :width => 200 %>
      <p>
        <%= link_to pic.caption, picture_url(pic.id) %>
        <%= link_to "Edit", edit_picture_url(pic.id) %>
        <%= link_to "Delete", picture_url(pic.id),
                              :method => :delete, :confirm => "Really? #{pic.caption}?" %>
      </p>
    </li>
  <% end %>
</ul>
