<h1>Add A New Picture</h1>

<%= link_to "Back", "/pictures" %>

<%= form_tag "/pictures" do %>

  <%= label_tag "source", "Image URL:" %>
  <%= text_field_tag "source" %>

  <%= label_tag :caption %>
  <%= text_field_tag :caption %>

  <%= label_tag :favorite %>
  <%= check_box_tag :favorite %>

  <%= submit_tag "Add This Picture" %>

<% end %>
